<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<script
  src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous"></script>
<body>

<!-- wrap -->

	
	<th:block th:replace="~{./include/layout::setContent(~{::#container})}">
	<div id="container">
		<!-- location_area -->
		<div class="location_area customer">
			<div class="box_inner">
				<h2 class="tit_page">TOURIST <span class="in">in</span> TOUR</h2>
				<p class="location">고객센터 <span class="path">/</span> 공지사항</p>
				<ul class="page_menu clear">
					<li><a href="#" class="on">공지사항</a></li>
					<li><a href="#">문의하기</a></li>
				</ul>
			</div>
		</div>	
		<!-- //location_area -->

		<!-- bodytext_area -->
		<div class="bodytext_area box_inner">
			<form action="notice_list" class="minisrch_form">
				
				<fieldset>
					<select style="height: 35px;" id="selopt">
						<option value="searchTitle">제목</option>
						<option value="searchContent">내용</option>
						<option value="searchWriter">작성자</option>
						<option value="searchTitleCont">제목+내용</option>
					</select>
					<legend>검색</legend>
					<input type="text" class="tbox" title="검색어를 입력해주세요" placeholder="검색어를 입력해주세요" name="searchTitle">
					<a href="javascript:;" class="btn_srch">검색</a>
				</fieldset>
			</form>
			<table class="bbsListTbl" summary="번호,제목,조회수,작성일 등을 제공하는 표">
				<caption class="hdd">공지사항  목록</caption>
				<thead>
					<tr>
						<th scope="col">번호</th>
						<th scope="col">제목</th>
						<th scope="col">조회수</th>
						<th scope="col">작성일</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each=" vo,status : ${list}">
					<tr>
						<td>[[${status.count}]]</td>
						<td class="tit_notice"><a th:href="@{notice_view(bno=${vo.bno})}">[[${vo.title}]]</a> </td>
						<td>[[${vo.hit}]]</td>
						<td>[[${vo.regdate}]]</td>
					</tr>
					</th:block>
				</tbody>
			</table>
			
			<!-- pagination -->
			<div class="pagination">
				<a th:href="@{notice_list(page=1,searchTitle=${page.cri.searchTitle},
												searchContent=${page.cri.searchContent},
												searchTitleCont=${page.cri.searchTitleCont})}" class="firstpage  pbtn"><img th:src="@{/img/btn_firstpage.png}" alt="첫 페이지로 이동"></a>
				<th:block th:if="${page.prev}">												
				<a th:href="@{notice_list(page=${page.start-1},searchTitle=${page.cri.searchTitle},
												searchContent=${page.cri.searchContent},
												searchTitleCont=${page.cri.searchTitleCont})}" class="prevpage  pbtn"><img th:src="@{/img/btn_prevpage.png}" alt="이전 페이지로 이동"></a>
				</th:block>												
				<th:block th:each="num : ${page.pageList}">
				<a th:href="@{notice_list(page=${num},searchTitle=${page.cri.searchTitle},
												searchContent=${page.cri.searchContent},
												searchTitleCont=${page.cri.searchTitleCont})}"><span class="pagenum" th:classappend="${num==page.page?'currentpage':''}">[[${num}]]</span></a>
				</th:block>
				<th:block th:if="${page.next}">		
				<a th:href="@{notice_list(page=${page.end+1},searchTitle=${page.cri.searchTitle},
												searchContent=${page.cri.searchContent},
												searchTitleCont=${page.cri.searchTitleCont})}" class="nextpage  pbtn"><img th:src="@{/img/btn_nextpage.png}" alt="다음 페이지로 이동"></a>
				</th:block>
				<a th:href="@{notice_list(page=${page.realEnd},searchTitle=${page.cri.searchTitle},
												searchContent=${page.cri.searchContent},
												searchTitleCont=${page.cri.searchTitleCont})}" class="lastpage  pbtn"><img th:src="@{/img/btn_lastpage.png}" alt="마지막 페이지로 이동"></a>
			</div>
			<!-- //pagination -->
			
		</div>
		<!-- //bodytext_area -->

	</div>
	<!-- //container -->
	</th:block>
	<script>
		
	$('#selopt').change(()=>{
		//console.log($(event.target).val());
		$('.tbox').attr('name',$('#selopt').val());
	})
	
	$('.btn_srch').click(()=>{
		$('.minisrch_form').submit()
	})	
	</script>


<!-- //wrap -->



</body>
</html>
