<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.practice.myweb.service.UserMapper">
 	<insert id="registUser">
 		insert into user_prac (name,pw, gender, agree1, agree2, email_first, email_second, content)
 		values (#{name}, #{pw},#{gender},#{agree1},#{agree2},#{email_first},#{email_second},#{content})
 	</insert>
 	<select id="getUser">
 		select * from user_prac where 
 	</select>
 </mapper>